   body {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       background-color: #fdfdfd;
   }

   #parent {
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }

   #btn {
       background-color: #f9c65c;
       height: 80%;
       width: 40%;
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 10px;
       border-radius: 20px;
       box-shadow: 20px;
       box-shadow: 0px px 10px #aaa;
   }

   #scrn {
       border-radius: 20px;
       padding: 10px;
       margin: 10px;
       grid-column: span 4;
   }

   #egala {
       grid-column: span 2;
       margin: 10px;
   }

   button {
       border: solid rgb(15, 12, 8);
       margin: 5px;

   }

   #btnmod,
   #btnC,
   #btnflech,
   #btnmod,
   #btnplus,
   #btnmoin,
   #btnfois,
   #btnsur {
       background-color: #a8d8ff;
       font-size: x-large;
       border-radius: 10%;

   }

   #egala {
       background-color: #4dd0e1;
       color: white;
       font-size: x-large;
       border-radius: 10%;
   }

   #btn1,
   #btn2,
   #btn3,
   #btn4,
   #btn5,
   #btn6,
   #btn7,
   #btn8,
   #btn9,
   #btnpoint {
       background-color: rgb(189, 189, 189);
       font-size: x-large;
       border: solid 1px white;
       border-radius: 10px;
       color: #000;
   }

   #scrn::placeholder {
       text-align: end;
       direction: rtl;
       font-size: x-large;
   }

   #smb {
       border-radius: 10px;
       height: 5%;
       background-color: black;
       color: wheat;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: large;
       border: 1px solid rgb(225, 140, 21);
   }